In [34]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.utils import class_weight

In [2]:
# read in data 
df = pd.read_csv('model_data.csv')

In [3]:
df.head()

,Unnamed: 0,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,cash_in,cash_out,debit,payment,transfer
0,0,1,9839.64,170136.0,160296.36,0.0,0.0,0,0,0,0,1,0
1,1,1,1864.28,21249.0,19384.72,0.0,0.0,0,0,0,0,1,0
2,2,1,181.00,181.0,0.00,0.0,0.0,1,0,0,0,0,1
3,3,1,181.00,181.0,0.00,21182.0,0.0,1,0,1,0,0,0
4,4,1,11668.14,41554.0,29885.86,0.0,0.0,0,0,0,0,1,0

In [13]:
# split into label (isFraud) and data, drop label from data 
y = df['isFraud'].to_numpy()

df.drop(columns=['isFraud', 'Unnamed: 0'], inplace=True)
X = df.to_numpy()

In [5]:
print(type(y))

<class 'numpy.ndarray'>

In [14]:
# split data
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [15]:
# rescale x_train to prepare for model
scaler = MinMaxScaler(feature_range=(0,1))
x_train = scaler.fit_transform(x_train)

In [16]:
model = Sequential(
    [
        tf.keras.Input(shape=(11,)),
        Dense(5, activation='relu'),
        Dense(1, activation='sigmoid')
    ], name = 'model'
)

In [39]:
model.compile(
    loss=tf.keras.losses.BinaryCrossentropy(),
    optimizer=tf.keras.optimizers.Adam(0.001),
    metrics=['accuracy']
)

history = model.fit(x_train, y_train, epochs=11)

Epoch 1/11
149124/149124 [==============================] - 139s 929us/step - loss: 0.0030 - accuracy: 0.9996
Epoch 2/11
149124/149124 [==============================] - 139s 934us/step - loss: 0.0031 - accuracy: 0.9996
Epoch 3/11
149124/149124 [==============================] - 139s 935us/step - loss: 0.0031 - accuracy: 0.9996
Epoch 4/11
149124/149124 [==============================] - 137s 920us/step - loss: 0.0032 - accuracy: 0.9996
Epoch 5/11
149124/149124 [==============================] - 136s 915us/step - loss: 0.0032 - accuracy: 0.9996
Epoch 6/11
149124/149124 [==============================] - 135s 909us/step - loss: 0.0033 - accuracy: 0.9996
Epoch 7/11
149124/149124 [==============================] - 142s 952us/step - loss: 0.0031 - accuracy: 0.9996
Epoch 8/11
149124/149124 [==============================] - 138s 924us/step - loss: 0.0031 - accuracy: 0.9996
Epoch 9/11
149124/149124 [==============================] - 137s 919us/step - loss: 0.0031 - accuracy: 0.9996
Epoch 10/11
149124/149124 [==============================] - 145s 969us/step - loss: 0.0032 - accuracy: 0.9996
Epoch 11/11
149124/149124 [==============================] - 143s 956us/step - loss: 0.0032 - accuracy: 0.9996

In [19]:
pred = model.predict(x_test)

49708/49708 [==============================] - 33s 666us/step

In [1]:
pred

NameError: name 'pred' is not defined